/**
 * Line Graphs Generator
 */

body {
    padding-top: 70px;
    overflow-x: hidden;
}

.panel-body {
    padding: 8px;
}

#formPropertiesGraph {}

#formPropertiesGraph .row {
    margin-right: -5px;
    margin-left: -5px;
}

#formPropertiesGraph .col-xs-4,
#formPropertiesGraph .col-xs-5,
#formPropertiesGraph .col-xs-6,
#formPropertiesGraph .col-xs-7 {
    padding-right: 5px;
    padding-left: 5px;
}

#formPropertiesGraph .row,
#formPropertiesGraph .form-group {
    margin-bottom: 8px;
}

#formPropertiesGraph .row.last,
#formPropertiesGraph .form-group.last {
    margin-bottom: 0;
}

#formPropertiesGraph label {
    padding: 0 2px;
    margin-bottom: 2px;
    color: #666;
    font-size: .68em;
    font-weight: 700;
    text-transform: uppercase;
}

#formPropertiesGraph .checkbox label {
    margin-bottom: 0;
    cursor: pointer;
    line-height: 20px;
}

#formPropertiesGraph h4 {
    margin: 5px 0 8px;
    line-height: 16px;
    font-size: .8em;
    text-transform: uppercase;
}

#formPropertiesGraph h4 .label {
    padding: .3em .6em;
}

#formPropertiesGraph .nav>li>a {
    padding: 4px 6px;
}

/**
 * Off Canvas
 */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
}